.title {
    color: $main-color;
    font-weight: 600;
}
@mixin button-style {
        color: #fff;
        border: 1px solid transparent;
        padding: 10px 24px;
        border-radius: 3px;
        display: inline-block;
        transition: all .3s;
        background-color: $second-color;
        font-size: 17px;
        line-height: 25px;
        text-transform: uppercase;
        &:hover {
            border-radius: 25px;
            text-decoration: none;
            transition: all .3s;
        }
}