@media only screen and (max-width: 768px) {
    header.header-top {
        padding: 15px;
    }
    .Labtop-only {
        display: none !important;
    }
    .bannerSlider .item {
        text-align: center;
        .BcakgroundImg {
            width: auto;
            height: 400px;
        }
         .WordSec {
            top: 12%;
            padding-left: 5%;
            width: 90%;
            h2 {
                max-width: 100%;
            }
        }
    }
}
.TeamSec .Sec .ImgContainer {
    height: 250px;
}
@media only screen and (max-width: 480px) {
    .TeamSec .Sec .ImgContainer {
        height: 300px;
    }
    .Tablet-only {
        display: none !important;
    }
}