@import "_color";
@import "_mixin";
/*===============  bannerSlider ==================*/
.bannerSlider {
    .item {
        position: relative;
        .BcakgroundImg {
            position: relative;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: auto;
        }
        .WordSec {
            margin-top: 50px;
            position: absolute;
            top: 17%;
            padding-left: 12%;
            width: 50%;
            h2 {
                color: #fff;
                max-width: 400px;
                font-size: 40px;
                font-weight: bold;
            }
            p {
                color: #fff;
                font-size: 16px;
                margin: 20px 0;
            }
         a {
      @include button-style;
        margin-top: 40px;
        }
    
        }
    }
}

/*=============== End bannerSlider ==================*/
/*===============  TeamSec ==================*/

.TeamSec {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #F3F3FF;
     .Sec {
        margin-bottom: 25px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.09);
        .ImgContainer {
            height:320px;
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            img {
                height: 100%;
                width: 100%;
                transform: scale(1.0);
                transition: all 0.3s;
            }
            &:hover{
                img {
                    transform: scale(1.1);
                    transition: all 0.3s;
                }
            }
  
        }
       .ContentSec {
            padding: 5px 15px;
             p {
                margin: 7px 0;
                font-size: 17px;
                font-weight: 600;
                text-align: center;
                color: $main-color;
                &.title {
                    font-weight: 400;
                    margin-bottom: 25px;
                }
                &.Email {
                    text-transform: uppercase;
                }
                &.Phone,
                &.Email,
                &.Social {
                    color: $second-color;
                }
            }
        }
    }
}

   /*=============== End TeamSec ==================*/
   /*=============== Section-descriptions ==================*/
   .Section-descriptions {
       padding-top: 40px;
       margin-bottom: 50px;
       .Sec {
           margin-bottom: 30px;
        h3 {
            margin-bottom: 20px;
        }
        p {
            color: $main-color;
            font-size: 15px;
        }
       
       }
       h5 {
        color: $main-color;
        margin-bottom: 12px;
        i {  
        font-size: 18px;
       width: 25px;
        }
    }
   }
   /*=============== End Section-descriptions ==================*/
header.header-top {
    padding: 15px 0;
    .header-main_area{
        width: 100%;
           ul {
               margin: 0;
               padding: 0;
               li {
                   list-style: none;
                   display: inline-block;
                   margin-left: 20px;
                   font-size: 15px;
                   a {
                    font-weight: 600;
                    color: $main-color;
                    cursor: pointer;
                    i {
                        width: 21px;
                      }
                    &.button-Get {
                        @include button-style; 
                        font-size: 14px;
                        padding: 4px 20px;
                        font-weight: 400;
                     
                       }
                   }
               }
           }
         .Logo {
             img {
                 width: 100px;
             }
         }
       }
}
 
@import "_responsive";
