.title {
  color: #42415B;
  font-weight: 600;
}

/*===============  bannerSlider ==================*/
.bannerSlider .item {
  position: relative;
}
.bannerSlider .item .BcakgroundImg {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}
.bannerSlider .item .WordSec {
  margin-top: 50px;
  position: absolute;
  top: 17%;
  padding-left: 12%;
  width: 50%;
}
.bannerSlider .item .WordSec h2 {
  color: #fff;
  max-width: 400px;
  font-size: 40px;
  font-weight: bold;
}
.bannerSlider .item .WordSec p {
  color: #fff;
  font-size: 16px;
  margin: 20px 0;
}
.bannerSlider .item .WordSec a {
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 24px;
  border-radius: 3px;
  display: inline-block;
  transition: all 0.3s;
  background-color: #F1A153;
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 40px;
}
.bannerSlider .item .WordSec a:hover {
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s;
}

/*=============== End bannerSlider ==================*/
/*===============  TeamSec ==================*/
.TeamSec {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #F3F3FF;
}
.TeamSec .Sec {
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.09);
}
.TeamSec .Sec .ImgContainer {
  height: 320px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.TeamSec .Sec .ImgContainer img {
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: all 0.3s;
}
.TeamSec .Sec .ImgContainer:hover img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.TeamSec .Sec .ContentSec {
  padding: 5px 15px;
}
.TeamSec .Sec .ContentSec p {
  margin: 7px 0;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: #42415B;
}
.TeamSec .Sec .ContentSec p.title {
  font-weight: 400;
  margin-bottom: 25px;
}
.TeamSec .Sec .ContentSec p.Email {
  text-transform: uppercase;
}
.TeamSec .Sec .ContentSec p.Phone, .TeamSec .Sec .ContentSec p.Email, .TeamSec .Sec .ContentSec p.Social {
  color: #F1A153;
}

/*=============== End TeamSec ==================*/
/*=============== Section-descriptions ==================*/
.Section-descriptions {
  padding-top: 40px;
  margin-bottom: 50px;
}
.Section-descriptions .Sec {
  margin-bottom: 30px;
}
.Section-descriptions .Sec h3 {
  margin-bottom: 20px;
}
.Section-descriptions .Sec p {
  color: #42415B;
  font-size: 15px;
}
.Section-descriptions h5 {
  color: #42415B;
  margin-bottom: 12px;
}
.Section-descriptions h5 i {
  font-size: 18px;
  width: 25px;
}

/*=============== End Section-descriptions ==================*/
header.header-top {
  padding: 15px 0;
}
header.header-top .header-main_area {
  width: 100%;
}
header.header-top .header-main_area ul {
  margin: 0;
  padding: 0;
}
header.header-top .header-main_area ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
}
header.header-top .header-main_area ul li a {
  font-weight: 600;
  color: #42415B;
  cursor: pointer;
}
header.header-top .header-main_area ul li a i {
  width: 21px;
}
header.header-top .header-main_area ul li a.button-Get {
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 24px;
  border-radius: 3px;
  display: inline-block;
  transition: all 0.3s;
  background-color: #F1A153;
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 4px 20px;
  font-weight: 400;
}
header.header-top .header-main_area ul li a.button-Get:hover {
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s;
}
header.header-top .header-main_area .Logo img {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  header.header-top {
    padding: 15px;
  }

  .Labtop-only {
    display: none !important;
  }

  .bannerSlider .item {
    text-align: center;
  }
  .bannerSlider .item .BcakgroundImg {
    width: auto;
    height: 400px;
  }
  .bannerSlider .item .WordSec {
    top: 12%;
    padding-left: 5%;
    width: 90%;
  }
  .bannerSlider .item .WordSec h2 {
    max-width: 100%;
  }
}
.TeamSec .Sec .ImgContainer {
  height: 250px;
}

@media only screen and (max-width: 480px) {
  .TeamSec .Sec .ImgContainer {
    height: 300px;
  }

  .Tablet-only {
    display: none !important;
  }
}

/*# sourceMappingURL=main.css.map */
